
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3%;
    --foreground: 210 20% 98%;
    --card: 240 10% 5%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 5%;
    --popover-foreground: 210 20% 98%;
    --primary: 234 66% 30%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 10% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 10% 15%;
    --muted-foreground: 210 10% 70%;
    --accent: 182 100% 75%;
    --accent-foreground: 240 10% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 182 100% 75%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-accent selection:text-accent-foreground overflow-x-hidden;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

.text-stroke {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}

canvas {
  touch-action: none;
}
